/* css */

body {
    font-family: arial;
    clear: both;
    width: 950px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
h3 {
    color: #777;
}
hr {
    clear: both;
}
ul {
    min-height: 300px;
}
li {
    line-height: 1.8;
    clear: both;
    list-style: none;
    margin: 0;
    left: 0;
}
.content {
    background-image: url("/assets/img/checkforlockedfiles.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 128px;
}
#locked-list {
}
#locked-list li {
    height: 35px;
}
.div-watched {
    font-weight: bold;
    float: left;
    width: 550px;
    padding: 4px;
    margin: 2px;
    background-color: #eee;
}
.div-path {
    float: left;
    width: 590px;
    padding: 4px;
    margin: 2px;
    background-color: rgba(200,200,200, .8);
}
.div-path:hover {
    cursor: pointer;
}
.div-user {
    float: left;
    width: 130px;
    padding: 4px;
    margin: 2px;
    background-color: rgba(200,200,200, .8);
}
.div-computer {
    float: left;
    width: 125px;
    padding: 4px;
    margin: 2px;
    background-color: rgba(200,200,200, .8);
}
.head-row {
    font-weight: bold;
    color: #fdd;
    background-color: rgba(0,0,0, .8);
}
.footer {
    color: #fff;
    background-color: #aaa;
    text-align: center;
    font-size: 24pt;
    margin: 0;
    padding: 4px;
}
.watch-list-head {
    cursor: pointer;
    color: #555;
    padding: 8px;
    border: 1px solid #fff;
}
.watch-list-head:hover {
    color: #b00;
    background-color: #ddd;
    border: 1px solid #777;
}
#watch-list-ul {
    background-color: #fff;
    padding: 12px;
    top: 60px;
    min-height: 20px;
    border: 1px solid #777;
    box-shadow: 3px 3px 4px #777;
    position: absolute;
    transition: all 500ms linear;
}
#watch-list-ul li {
    color: #000;
    font-size: 12pt;
    margin-left: 0;
    padding: 4px;
    transition: all 500ms linear;
}
.hide {
    opacity: 0;
}
.show {
    opacity: 100%;
}
.remove {
    height: 0;
}
.add {
    height: auto;
}